<div class="p-6">
  <h2 class="text-2xl font-semibold mb-4">Leave List</h2>
  <table class="min-w-full border border-gray-300">
    <thead class="bg-gray-100">
      <tr>
        <th class="p-2 text-left">ID</th>
        <th class="p-2 text-left">Name</th>
        <th class="p-2 text-left">Description</th>
        <th class="p-2 text-left">Hours</th>
        <th class="p-2 text-left">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves$ | async" class="border-t">
        <td class="p-2">{{ leave.Id }}</td>
        <td class="p-2">{{ leave.LeaveName }}</td>
        <td class="p-2">{{ leave.Description }}</td>
        <td class="p-2">{{ leave.LeaveLimitHours }}</td>
        <td class="p-2">{{ leave.CreateDate | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
