<div class="p-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold">Leave List</h2>
    <button
      appButtonStyle
      type="button"
      (click)="onAdd()"
      class="bg-blue-500 "
    >
      新增
    </button>
  </div>

  <div class="container mx-auto p-4">
    <!-- 桌面版 Table -->
    <table class="hidden md:table w-full border border-gray-300">
      <thead class="bg-gray-100">
        <tr>
          <th class="p-2 text-left w-[10%]">ID</th>
          <th class="p-2 text-left w-[10%]">Name</th>
          <th class="p-2 text-left w-[30%]">Description</th>
          <th class="p-2 text-left w-[10%]">Hours</th>
          <th class="p-2 text-left w-[20%]">Created</th>
          <th class="p-2 text-left w-[20%]">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (leave of (similarLeaves$ | async); track leave.Id) {
          <tr class="border-t">
            <td class="p-2 w-[10%]">{{ leave.Id }}</td>
            <td class="p-2 w-[10%]">{{ leave.LeaveName }}</td>
            <td class="p-2 w-[30%]">{{ leave.Description }}</td>
            <td class="p-2 w-[10%]">{{ leave.LeaveLimitHours }}</td>
            <td class="p-2 w-[20%]">{{ leave.CreateDate | date }}</td>
            <td class="p-2 w-[20%]">
              <button 
                appButtonStyle
                type="button"
                (click)="onEdit(leave)"
                class="bg-blue-500"
              >
                編輯
              </button>
              <button 
                appButtonStyle
                type="button"
                (click)="confirmDelete(leave.Id, leave.OperateUserId)"
                class="bg-red-500"
              >
                刪除
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- 手機版 Table -->
    <table class="table md:hidden w-full border border-gray-300">
      <thead class="bg-gray-100">
        <tr>
          <th class="p-2 text-left w-[10%]">ID</th>
          <th class="p-2 text-left w-[20%]">Name</th>
          <th class="p-2 text-left w-[30%]">Description</th>
          <th class="p-2 text-left w-[10%]">Hours</th>
          <th class="p-2 text-left w-[30%]">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (leave of (similarLeaves$ | async); track leave.Id) {
          <tr class="border-t">
            <td class="p-2 w-[10%]">{{ leave.Id }}</td>
            <td class="p-2 w-[20%]">{{ leave.LeaveName }}</td>
            <td class="p-2 w-[30%]">{{ leave.Description }}</td>
            <td class="p-2 w-[10%]">{{ leave.LeaveLimitHours }}</td>
            <td class="p-2 w-[30%]">
              <button 
                appButtonStyle
                type="button"
                (click)="onEdit(leave)"
                class="bg-blue-500"
              >
                編輯
              </button>
              <button 
                appButtonStyle
                type="button"
                (click)="confirmDelete(leave.Id, leave.OperateUserId)"
                class="bg-red-500"
              >
                刪除
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
